@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.container {
  display: flex;
  max-width: 920px;
  border-radius: 12px;
 
}

.card {
  flex: 1;
  padding: 48px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.card img {
  width: 60px;
}

.card h2 {
  font-size: 32px;
}

.card p {
  font-size: 15px;
  line-height: 1.7;
 
}

.card button {
  margin-top:70px; 
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  background: white;
  font-weight: bold;
  
 
}


.sedan {
  background: #e38826;
}

.suv {
  background: #006970;
}

.luxury {
  background: #004241;
}




.sedan button{
  color: #e38826;
}

.suv button{
  color: #006970;
}


.luxury button{
  color: #e38826;
}















