nav a{
    text-decoration:none;
    margin:20px;
    color:black;
    display:inline-block;

    transition:all 0.5s;
}

nav a:hover{
    transform:scale(1.2);
    color:red;
    letter-spacing:4px;
}
















