.container{
    display:grid;
    grid-template-columns:100px 100px 100px;
    width:700px;
    height:250px;

    justify-content:center;
    border:2px solid black;
}

.item{
    background:orange;
    padding:20px;
}

/*
justify-content:start
მთელი Grid მარცხნივ გადადის.

justify-content:center
მთელი Grid ცენტრში გადადის.

justify-content:end
მთელი Grid მარჯვნივ გადადის.
*/






