.container{
    display:grid;
    grid-template-columns:120px 120px 120px;
    grid-template-rows:120px;

    height:400px;

    align-items:center;
}

.item{
    height:40px;
    background:red;
    color:white;
}

/*
align-items:start
ელემენტი ზემოთ დგება.

align-items:center
ელემენტი შუაში დგება.

align-items:end
ელემენტი ქვემოთ დგება.
*/




