#g1{
    color: blue;
}


#g2{
    color: rebeccapurple;
}

#g3{
    color: red;
}


#g4{
    color: yellow;
}


#g5{
    color: green;
}




 #gio1 i {
    color: blue;
    font-size: 131px;
}


#gio2 i {
    color: green;
    font-size: 121px;
}


#gio3 i {
    color: red;
    font-size: 141px;
}



