@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
     font-family: "Barlow Semi Condensed", sans-serif;
}

body{
    background:#edf2f8;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:40px;
}

.container{
    max-width:1200px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.card{
    padding:30px;
    border-radius:15px;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.card img{
    width:45px;
    height:45px;
    border-radius:50%;
    margin-bottom:10px;
}

.card h3{
    font-size:16px;
}

.card span{
    font-size:13px;
    opacity:.7;
}

.card h2{
    margin:20px 0;
    font-size:23px;
    line-height:1.4;
}

.card p{
    font-size:15px;
    line-height:1.7;
    opacity:.8;
}



.purple{
    background:#733FC8;
    color:#fff;
    grid-column:span 2;
}

.gray{
    background:#4A5568;
    color:#fff;
}

.dark{
    background:#1A202C;
    color:#fff;
    grid-column:span 2;
}

.white{
    background:#fff;
    color:#333;
}

.tall{
    grid-row:span 2;
}









