.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:90px 90px 90px;
    gap:10px;
}

.a{
    background:red;
}

.b{
    background:red;
    grid-column:2/4;
}

.c{
    background:red;
    grid-column:1/3;
}

.d{
    background:red;
    grid-row:2/4;
}

.e{
    background:red;
}

.f{
    background:red;
}




