.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:90px 90px 90px;
    gap:5px;
    background:#24354d;
    padding:5px;
}

.a{
    background:#73c34b;
    grid-row:1/4;
}

.b{
    background:#73c34b;
    grid-column:2/4;
}

.c{
    background:#ef3d3d;
}

.d{
    background:#f2b43a;
}

.e{
    background:#ef3d3d;
}

.f{
    background:#ef3d3d;
}

.g{
    background:#f2b43a;
}

.h{
    background:#73c34b;
    grid-row:2/4;
}

