p{  font-size: 50px;
    border: 3px solid green ;
    text-align: center;
    color: yellow;


}

button {
    width: 60px;
    height: 100px;
    background-color: red;
    color: yellow;
    border: none;
    
}





