#gio1{
    color: aqua;
    background-color: blueviolet;
    font-size: 100px;
    text-align: center;
    border: 12px solid aqua;


}



#gio2 h1{

    color: aqua;
    background-color: rgb(43, 226, 192);
    font-size: 120px;
    text-align: center;
    border: 22px solid aqua;
    

}



#gio3 h1{
    color: aqua;
    font-size: 100px;
}


#gio4{
    color: aqua;

}

#gio5{
    color: aquamarine;
}








#g1{
    color: blue;
}

#g2{
    color: rgb(255, 0, 132);
}

#g3{
    color: rgb(119, 0, 255);
}



#g4{
    color: rgb(0, 255, 72);
}


#g5{
    color: rgb(0, 221, 255);
}







#go1{
    color: blue;
}



#go2{
    color: rgb(255, 0, 8);
}





#go3{
    color: rgb(255, 170, 0);
}



#go4{
    color: rgb(0, 255, 68);
}

#go5{
    color: rgb(0, 157, 255);
}




#A1{
    width: 30px;
    height: 40px;
    color: blue;
}


#A2{
    width: 40px;
    height: 50px;
    color: red;
}


#A3{
    width: 60px;
    height: 70px;
    color: yellow;
}



















