
 #numbers {
            background-color: yellow;
        }

        #singular {
            background-color: orange;
 }

        #plural {
            background-color: yellowgreen;
 }

        
        #one {
            background-color: #f5c76a;
}

        #boy {
            background-color: #f28c64;
}

        #boys {
            background-color: #f5c76a;
}

        
        #two {
            background-color: red;
            color: white;
}

        #man {
            background-color: lightgray;
}

        #men {
            background-color: #1da1c2;
            color: white;
}