/* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    transform:  rotate(120deg);
    transform-origin: right bottom;
}




 */

div {
    width: 150px;
    height: 150px;
    background: red;
    transition:background-color 2s ease-in 2s,transform 5s ease-in 2s,border-radius 2.5s ease-in 2s, box-shadow 6s ease-in 2s;
}

div:hover {
    background: blue;
    border-radius: 50%;
    transform: translate(70px, 100px) rotate(400deg);
    box-shadow: 0 20px 30px black;
}