div{
    font-size: 38px;
    color: blue;
    background-color: green;
    border: 3px solid red;



}

div nav{
    font-size: 46px;
    color: purple;
    background-color: brown;
    border: 7px solid yellow;
}



