 h1{
    text-align: center;
    font-size: 50px
 }
header p{
    font-size: 30px;



}
header p strong{
    font-size: 32px;
    color: blue;
}

header p u{
    font-size: 32px;
    color: yellow;
}

main p{
    font-size: 20px;

}

header section p{
    font-size: 20px;



}
header section strong{
    font-size: 23px;
    color: red;
}











 