#g{
    padding: 40px 100px ;
}


#i{
    padding: 64px;
}




#o{
    padding: 50px 20px 15px 70px;
}


#r{
    padding-top: 45px;
}












#a{
    border-top: 4px red solid;
    border-bottom: 4px black solid;
    border-right: 4px blue solid;
    border-left: 4px yellow solid;
}




#e{
    margin: 80px 20px;
}


#b{
    margin: 40px;
}


#g{
    margin: 10px 60px 35px 80px;
}
#d{
    margin-bottom: 45px;
}









