div {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  animation: giorgi 2s forwards;
}

@keyframes giorgi {
  from {
    background: red;
  }
  to {
    background: blue;
  }
}
